<div class="page_hone">
            <h1>RadioTec</h1>
        </div>

        <section id="acerca_section">
            <article>
                <h2>Historia</h2>
                <pre><h3>
El Proyecto RadioTec es el resultado de la suma de esfuerzos de las autoridades del ITCH II para satisfacer la necesidad de comunicación de la Comunidad Bisonte. Éste era, es y será siempre un reto que fue asumido de frente y con el único objetivo de mejorar la calidad de nuestra institución al tiempo de exigirse estar a la vanguardia tecnológica que los alumnos merecen. Se inicia la implementación de RadioTec con el apoyo del Lic. Gabriel Salazar Hernández, Director del ITCH II, el Ing. Gerardo Ceniceros Reyes, Subdirector de Servicios Administrativos, la M.C. Rocío Quiñónez Moreno, Subdirectora de Planeación y Vinculación y el Arq. Armando Serrano Salomón, Subdirector Académico.

Se inician labores el 2 de febrero de 2013 con el Loc. y estudiante de Ingeniería Industrial Dante Francisco Olvera Barrios como Director Operativo del Proyecto RadioTec y el Ing. Luis Raúl Baray Martínez como Director Ejecutivo del Proyecto RadioTec, apoyados por un grupo de alumnos y maestros fungiendo como locutores, operadores de cabina y reporteros. 
                </h3></pre>
            </article>

            <article>
                <h2>Misión</h2>
                <pre><h3>
Ser un medio digital a la vanguardia tecnológica, de difusión de la cultura y la investigación, así como la comunicación de la información más relevante, enfocando sus actividades en pro de la formación y el fomento de los valores de la comunidad estudiantil que conforma el ITCH II y la sociedad.
                </h3></pre>
            </article>
            
            <article>
                <h2>Visión</h2>
                <pre><h3>
Ser una radio estudiantil pionera y a la vanguardia en los medios de comunicación, consolidada a través de su calidad informativa.
                </h3></pre>
            </article>

            <article>
                <h2>Objetivo General</h2>
                <pre><h3>
Ofrecer un medio de comunicación digital, destacando los cambios y mejoras que vive la comunidad estudiantil del Instituto Tecnológico de Chihuahua II, siendo además un vínculo entre autoridades y alumnos.
                </h3></pre>
            </article>

              <article>
                <h2>Imagen</h2>
                <pre><h3>
Define el valor de la comunicación, y de la importancia que ésta tiene para el ITCH II al mantener su nombre grabado en oro. Como fondo el horizonte que refleja el futuro; y frente a él, el logotipo por excelencia de la radiocomunicación, un micrófono de radio representado como un bisonte, encaminada hacia éste una manada de bisontes que avanzan juntos hacia el progreso. Finalmente en la parte baja un bisonte mirando hacia atrás para recordarnos que siempre hay un pasado que edifica nuestro futuro; Nuestra frase emblemática por excelencia, <strong>Es bueno ser grande, pero es mas grande ser un Bisonte”</strong>“ acentúa la imagen.
                </h3></pre>
            </article>

            <article>
                <h2>Logotipo Oficial</h2>
                <pre><h3>
Un micrófono antiguo de radio representando lo antigua pero esencial que es la comunicación en la vida diaria. El micrófono es coronado por dos cuernos que representan la unión de los Bisontes y la persistencia de los valores que nos caracterizan. La base del micrófono se une a un círculo blanco, que simboliza la comunicación y difusión de los Bisontes hacia todo el planeta, a través de la red mundial (Internet). El círculo exterior simboliza un futuro que describiremos aquí cuando se haya convertido en el presente. 
                </h3></pre>
            </article>
            
            <article id="acerca_img">
                <img src="<%=image_url('ImagenRadioTec.jpg')%>">
            </article>

        </section>